<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartimesProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="LivePegasusUssddbConnection" connectionString="Data Source=tcp:pgsssql12_lpu,5004;Initial Catalog=LivePegasusUssd;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
        <StartimesProcessor.Properties.Settings>
              <setting name="StartimesProcessor_DbApi_DataAccess" serializeAs="String">
                    <value>http://192.168.55.3:5099/LiveDataAccess/DataAccess.asmx</value>
              </setting>
              <setting name="StartimesProcessor_momo_PegPayTelecomsApi" serializeAs="String">
                    <value>https://192.168.55.20:8002/LivePegPayTelecomsApi/PegPayTelecomsApi.asmx</value>
              </setting>
              <setting name="StartimesProcessor_LiveGenericApi_PegPay" serializeAs="String">
                    <value>https://192.168.55.3:8896/LivePegPayApi/PegPay.asmx</value>
              </setting>
        </StartimesProcessor.Properties.Settings>
    </applicationSettings>
</configuration>