<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--<connectionStrings>
    <add name="PegPayConnectionString" connectionString="data source=tcp:pgsssql56_lgp,5010;
       initial catalog=LiveGenericPegPayApi;
       Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TestPegPayConnectionString" connectionString="Data Source=TESTSVR-NTINDA;Initial Catalog=TestGenericPegPayApi;User ID=sa;Password=T3rr1613" providerName="System.Data.SqlClient"/>

  </connectionStrings>-->

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\Logs\DstvLogs\LivePostLogsUSSD\logfile_%date{yyyyMMdd}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="ddMMyyyy"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="TraceExtension, MTNYakaSenderService" priority="0" group="High"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
