<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MerchantListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Listen" connectionString="Data Source=TESTSVR-NTINDA; Initial Catalog=MerchantDB; user Id=sa; password=T3rr1613;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\Logs\USSDExternalVendor\USSDMerchantEXT\logfile_%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="ddMMyyyy"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  
  <applicationSettings>
    <MerchantListener.Properties.Settings>
      <setting name="MerchantListener_MerchantApi_Merchant" serializeAs="String">
        <value>http://localhost:8020/TestMerchantApi/Merchant.asmx</value>
      </setting>
      <setting name="MerchantListener_PegPayApi_PegPay" serializeAs="String">
        <value>https://localhost:8019/TestPegPayApi/PegPay.asmx</value>
      </setting>
    </MerchantListener.Properties.Settings>
  </applicationSettings>
</configuration>