<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="myReversalTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="validation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CONNSTRr" connectionString="Data Source=localhost;Initial Catalog=rotaract;user id=sa;password=pass" providerName="System.Data.SqlClient" />
    <!--<add name="TestPegPay" connectionString="Data Source=RONNIE\APPDEV;Initial Catalog=PegPayBillingInterface;user id=sa;password=Tingate710" providerName="System.Data.SqlClient" />-->
    <!--<add name="LivePegPay" connectionString="Data Source=PEGPAYDB;Initial Catalog=PegPayBillingInterface;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient" />-->
    <add name="TestPegPayConnectionString" connectionString="Data Source=DBSERVER\PEGPAYDB;Initial Catalog=GenericPegPayApi;user id=sa;password=T3rr1613"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<applicationSettings>
    <validation.Properties.Settings>
      <setting name="validation_water_NWSCBillingInterface" serializeAs="String">
        <value>https://mail.nwsc.co.ug/waterbillinginterface/nwscbillinginterface.asmx</value>
      </setting>
    </validation.Properties.Settings>
  </applicationSettings>-->
  <applicationSettings>
    <myReversalTester.Properties.Settings>
      <setting name="myReversalTester_UmemeApi_EPayment" serializeAs="String">
        <value>https://41.84.196.234:4044/umemebillinterface/EPayment.asmx</value>
      </setting>
      <setting name="myReversalTester_InterSwitchApi_PegPay" serializeAs="String">
        <value>http://localhost:11718/Level2Api/PegPay.asmx</value>
      </setting>
      <setting name="myReversalTester_StanbicApi1_PegPay" serializeAs="String">
        <value>https://196.8.207.117/TestLeveloneApi/PegPay.asmx</value>
      </setting>
    </myReversalTester.Properties.Settings>
  </applicationSettings>
</configuration>