<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InterConnect.Properties.Settings>
            <setting name="InterConnect_SMSService_SMSService" serializeAs="String">
                <value>http://localhost/smsService/SMSService.asmx</value>
            </setting>
            <setting name="InterConnect_PegPay_PegPay" serializeAs="String">
                <value>https://pegasus.co.ug:8896/LivePegPayApi/PegPay.asmx</value>
            </setting>
            <setting name="InterConnect_MailApi_Messenger" serializeAs="String">
                <value>http://192.168.55.21:5099/MailApi/Messenger.asmx</value>
            </setting>
            <setting name="InterConnect_SMSConfigurationApi_SmsConfigWebApi"
                serializeAs="String">
                <value>http://192.168.55.3:5099/LiveSmsConfigurationApi/Service.asmx</value>
            </setting>
        </InterConnect.Properties.Settings>
    </applicationSettings>
</configuration>