<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UtilReqSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PegPayConnectionString" connectionString="Data Source=tcp:pgsssql56_lgp,5010; Initial Catalog=LiveGenericPegPayApi;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="PegPayConnectionString" connectionString="data source={0};initial catalog=LiveGenericPegPayApi;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <UtilReqSender.Properties.Settings>
      <setting name="UtilReqSender_StartimesConnect_StarTimesConnect"
        serializeAs="String">
        <value>http://localhost:5099/StarTimesConnector/StarTimesConnect.asmx</value>
      </setting>
      <setting name="UtilReqSender_StarTimes_IHaiWaiElectronicPaymentService"
        serializeAs="String">
        <value>http://172.31.40.78/electronicPaymentService</value>
      </setting>
    </UtilReqSender.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
