<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="TestPegPay" connectionString="Data Source=TESTSVR-NTINDA;Initial Catalog=TestGenericPegPayApi; user id= sa; password=T3rr1613;" providerName="System.Data.SqlClient"/>
     </connectionStrings>
</configuration>