<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UtilityReferences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <applicationSettings>
    <UtilityReferences.Properties.Settings>
      <setting name="UtilityReferences_NWSC_NWSCBillingInterface" serializeAs="String">
        <value>https://mail.nwsc.co.ug/nwscbillinginterface/nwscbillinginterface.asmx</value>
      </setting>
      <setting name="UtilityReferences_URA_UraPmtService" serializeAs="String">
        <value>http://196.10.228.48/urabnkpmtservice/urapayment.asmx</value>
      </setting>
      <setting name="UtilityReferences_UMEME_EPayment" serializeAs="String">
        <value>https://41.84.196.234:4044/umemebillinterface/EPayment.asmx</value>
      </setting>
      <setting name="UtilityReferences_KCCA1_TelecomPaymentService"
        serializeAs="String">
        <value>https://beta.tamsonline.co.za/kcca-pts/api/telecom-paymentv1.php</value>
      </setting>
      <setting name="UtilityReferences_StarTimes_IHaiWaiElectronicPaymentService"
        serializeAs="String">
        <value>http://localhost:8020/StartimesConnect/StarTimesConnect.asmx</value>
      </setting>
      <setting name="UtilityReferences_Makerere_EPayment" serializeAs="String">
        <value>https://196.43.133.113:8001/EpaymentInterface/EPayment.asmx</value>
      </setting>
      <setting name="UtilityReferences_DSTVApi_SelfCareService" serializeAs="String">
        <value>http://uat.mcadigitalmedia.com/VendorSelfCare/SelfCareService.svc</value>
      </setting>
      <setting name="UtilityReferences_PBU_CardlessMoMoApi" serializeAs="String">
        <value>https://196.0.25.194:8007/TestCardlessApi/CardlessMoMoApi.asmx</value>
      </setting>
      <setting name="UtilityReferences_KCCA_TelecomPaymentService"
        serializeAs="String">
        <value>https://193.108.252.222/ecitie/api/telecom-paymentv1.php</value>
      </setting>
      <setting name="UtilityReferences_KYU_EPayment" serializeAs="String">
        <value>https://kyupay.kyu.ac.ug/epay</value>
      </setting>
      <setting name="UtilityReferences_TestDbApi_Service" serializeAs="String">
        <value>http://192.168.0.3:6048/TestDatabaseApi/Service.asmx</value>
      </setting>
      <setting name="UtilityReferences_SchoolsApi_SchoolApi" serializeAs="String">
        <value>http://localhost:8020/SchoolFeesApi/SchoolApi.asmx</value>
      </setting>
      <setting name="UtilityReferences_NkumbaPayInterface_EPayment"
        serializeAs="String">
        <value>https://zee-pay.com/zeepay_v2/bankservice</value>
      </setting>
      <setting name="UtilityReferences_Tucksee_PaymentNotificationService"
        serializeAs="String">
        <value>https://tpg.tamsonline.co.za/api/exec/PaymentNotificationService/</value>
      </setting>
      <setting name="UtilityReferences_WenrecoApi_XMLVendService" serializeAs="String">
        <value>http://197.221.149.74:17300/GatewayServiceASP.asmx</value>
      </setting>
      <setting name="UtilityReferences_KCCA2_BankPaymentService" serializeAs="String">
        <value>https://193.108.252.222/ecitie/api/bank-paymentv1.php</value>
      </setting>
      <setting name="UtilityReferences_StanbicCemasApi_PegPay" serializeAs="String">
        <value>https://196.8.208.145/testleveloneapi/pegpay.asmx</value>
      </setting>
      <setting name="UtilityReferences_DataApi_DataAccess" serializeAs="String">
        <value>http://192.168.0.3:5099/LiveDataAccess/DataAccess.asmx</value>
      </setting>
      <setting name="UtilityReferences_StanbicBankApi_PegPay" serializeAs="String">
        <value>https://196.8.208.145/pegpay.asmx</value>
      </setting>
      <setting name="UtilityReferences_MoweApi_MowePaymentApi" serializeAs="String">
        <value>http://localhost:8020/MowePaymentsTestApi/MowePaymentApi.asmx</value>
      </setting>
      <setting name="UtilityReferences_NDAValidation_MobileMoneyInvoiceServiceService"
        serializeAs="String">
        <value>http://127.0.0.1:8080/broker/mobilemoney/invoice/validation/v1.0</value>
      </setting>
      <setting name="UtilityReferences_NDAPayment_MobileMoneyPaymentServiceService"
        serializeAs="String">
        <value>http://127.0.0.1:8080/broker/mobilemoney/invoice/payment/v1.0</value>
      </setting>
      <setting name="UtilityReferences_NSSF_NSSFWSDL" serializeAs="String">
        <value>https://192.168.192.124:443/eColSOAPServertest/index.php</value>
      </setting>
      <setting name="UtilityReferences_SageWood_XMLVendService2_1"
        serializeAs="String">
        <value>http://115.238.36.166:10015/xmlvend/xmlvend.wsdl</value>
      </setting>
      <setting name="UtilityReferences_MailApi_Messenger" serializeAs="String">
        <value>http://localhost:8020/mailerapi/Messenger.asmx</value>
      </setting>
    </UtilityReferences.Properties.Settings>
  </applicationSettings>
  
  <!--<log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\Logs\UtilitiesApiLogs\TestLevelTwo\logfile_%date{yyyyMMdd}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="ddMMyyyy" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="TraceExtension, UtilityReferences" priority="0" group="High"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
